// Declaração de variável
$tamanho-da-fonte-padrao:16px;
$cor-padrao:#c24e4b;
//darken(cor,porcentagem) lighten(cor,porcentagem)
// adjust-hue();

// saturate(); 

// complement();
$cor-auxiliar:#1e2c35 ;
$cor-branca: #fff;
$ponto-de-quebra: 980px;

$mq-mobile : "(max-width:980px)";